/* Imports */

@import "colors";

/* Variables */

$josefinSans: 'Josefin Sans';
$inter: 'Inter';
$thin: 100;
$smallFont: 10px;

$smallSpacing: 8px;
$mediumSpacing: 16px;
$largeSpacing: 24px;
$extraLargeSpacing: 48px;

$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width: 1200px)";

/* Global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $inter, sans-serif;
  overflow-x: hidden;
  line-height: 1.6;  
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1, h2{
  font-family: $josefinSans, 'sans-serif';   
}

h2{
  font-weight: $thin;  
}

/* Mobile Styles */

.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $mediumSpacing;       
}

header{
  background: $darkGray;
  grid-column: 1/6;  
  display: flex;  
  padding: $smallSpacing;
  justify-content: space-between;  
  
  a:first-of-type{
    display: none;
  }

  a:last-of-type{
    font-size: $smallFont;
    color: $white;       
  }

  nav{    
    ul{
      display: flex;           
      li{
        margin-right: $smallSpacing;        
        a{
          display: none;
        }
      }
    }
  }
}

main{
  padding: $largeSpacing $smallSpacing;

  h1{
    color: $darkGray;
  }
  
  #cards{
    margin-top: $largeSpacing;    
  }  
}

@mixin cardStyles() {
  grid-column: 1/6;
  padding: $mediumSpacing;
  background: $lightGray;
  color: $white;
  cursor: pointer;  
}

.card-a{
  @include cardStyles();
  background: $green;  

  .cardHeader{
    margin-bottom: $largeSpacing;

    h2{
      display: inline;
      text-decoration: underline;
      margin-left: $smallSpacing;      
    }
  }

  img{
    max-width: 70%;
    margin: 0 auto;
  }

  .cardContent{
    margin-top: $largeSpacing
  }

  .cardFooter{
    margin-top: $extraLargeSpacing;

    p{
      font-size: $smallFont;
    }
  }

}

.card-b{
  @extend .card-a;
  background: $blue;
}

.card-c{
  @extend .card-a;
  background: $lightGray;
}

.card-d{
  @extend .card-c;
}

/* Tablet Styles */

@media #{$tablet}{

  .grid{
    grid-template-columns: repeat(8, 1fr);      
  }

  header{
    grid-column: 1/9;    
  }
  
  .card-a{
    grid-column: 1/5;
  }

  .card-b{
    grid-column: 5/9;

    img{
      max-width: 44.2%;
    }
  }

  .card-d{
    grid-column: 5/9;
  }

}

/* Computer Styles */

@media #{$computer}{  

  .container{
    max-width: 1200px;
    margin: auto;
  }

}